<div class="running-text">
  <marquee>Mari Bersama Menjaga Kedamaian Dunia</marquee>
</div>

<div class="mt-3 mr-3" id="table-queue">
  <center><h1>Loading dulu bentar ya ...</h1></center>
</div>

<div class="footer">
  <i class="fa fa-code"></i> with <i class="fa fa-heart"></i> Genta Mas Bali
</div>
