<div class="row">
  <div class="col-md-6">
     <div class="card">
       <div class="card-body text-center">
          <h3>Silahan menekan tombol cetak !</h3>
          <button class="btn btn-danger" onclick="CetakAntrian({{op.[6].[0].id}})"><i class="fa fa-print"></i> CETAK ANTRIAN</button>
       </div>
     </div>
  </div>
  <div class="col-md-6">
    <div class="alert alert-warning text-center">
      <h4>Nomor Antrian Selanjutnya</h4>
      <hr> 
      <h4 class="alert alert-primary">{{op.[6].[0].number}}</h4>   
    </div>
   
    <b>INFO PELAYANAN</b>
    <ul style="color:red;font-size:17px">
    <li>SENIN - JUMAT Pukul 08.00 - 14.00</li><hr>
    <li>SABTU - MINGGU Pukul 08.00 - 12.00</li>
    </ul>

  </div>
</div>


<script type="text/javascript"> 

  function CetakAntrian(lastNumber){ 
    axios.post('/printer/next',{
      id : lastNumber,
    }).then(res=>{
      alert('No Antrian Dicetak');
    })
  }
</script>